<div class="umb-panel" ng-controller="Snippets.GitHubController">
    <div class="umb-panel-footer">
        <div class="btn-toolbar umb-btn-toolbar pull-right">
            <a href class="btn btn-link" ng-click="close()">
                <localize key="cancel" />
            </a>
        </div>
    </div>
    
    <div class="umb-modalcolumn-header">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="span6">
                <div class="form-search">
                    <i class="icon-search"></i>
                    <input type="text" ng-model="searchTerm" class="umb-search-field search-query" placeholder="Filter...">
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="umb-modalcolumn-header">
        <h1>Insert Snippet</h1>
    </div>
    -->

    <div class="umb-panel-body umb-scrollable">

        <div class="tab-content umb-control-group">

            <div class="umb-pane">
                <h4>GitHub Snippets</h4>
                <h5>{{ repoUser.data }}/{{ repo.data }}</h5>

                <ul class="unstyled">
                    <li ng-repeat="snippet in snippets.data | filter: searchTerm" class="clearfix">
                        <span class="pull-left">{{ snippet.name }}</span> <a href="#" class="btn btn-primary pull-right" ng-click="insertSnippet(snippet)" prevent-default><i class="icon icon-code"></i> Insert Snippet</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



